@model Cops.Models.Verbale

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Verbale</h4>
    <hr />
    <dl class="row">
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataViolazione)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataViolazione)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IndirizzoViolazione)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IndirizzoViolazione)
        </dd>
        <
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nominativo_Agente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nominativo_Agente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataTrascrizioneVerbale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataTrascrizioneVerbale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Importo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Importo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DecurtamentoPunti)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DecurtamentoPunti)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Anagrafica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Anagrafica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoViolazione)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoViolazione)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Anagrafica.Cod_Fisc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Anagrafica.Cod_Fisc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdVerbale">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
